* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1316px;
  margin: 0 auto;
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, 224px);
  grid-auto-rows: 225px;
  gap: 48px;
}

.infoTitle {
  font-weight: 600;
  text-align: center;
}
