* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1316px;
  margin: 0 auto;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, 224px);
  grid-auto-rows: 225px;
  gap: 48px;
}

.el-for-infinite-scroll {
  height: 15px;
  opacity: 0;
}

.info-title {
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
